In [ ]:
!pip install TextX

Requirement already satisfied: TextX in /usr/local/lib/python3.10/dist-packages (4.0.1)
Requirement already satisfied: Arpeggio>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from TextX) (2.0.2)

In [ ]:
from textx import metamodel_from_str

# Define the SQL grammar using TextX syntax
sql_grammar = '''SQLStatements:
  statements += SelectStatement
;
SelectStatement:
 'SELECT' selectList = ColumnList 'FROM' tables= TableList ('WHERE' condition=Expression)? ';'
;
ColumnList:
  columns+=ID [',']
;
TableList:
  tables+=ID [',']
;
Expression:
  left = Term (op= LogicOp right = Term)*
;
LogicOp:
  'AND' |'OR'
;
Term:
  left=Factor op= Operator right= Factor
;
Operator:
  '<' | '>' | '<=' | '>=' | '=' | '<>'
;
Factor:
  Literal | ID | '(' Expression ')'
;
Literal:
  INT | STRING
;
'''

print(sql_grammar)

SQLStatements:
  statements += SelectStatement
;
SelectStatement:
 'SELECT' selectList = ColumnList 'FROM' tables= TableList ('WHERE' condition=Expression)? ';'
;
ColumnList:
  columns+=ID [',']
;
TableList:
  tables+=ID [',']
;
Expression:
  left = Term (op= LogicOp right = Term)*
;
LogicOp:
  'AND' |'OR'
;
Term:
  left=Factor op= Operator right= Factor
;
Operator:
  '<' | '>' | '<=' | '>=' | '=' | '<>'
;
Factor:
  Literal | ID | '(' Expression ')'
;
Literal:
  INT | STRING
;

In [ ]:
# Create metamodel from the SQL grammar
sql_metamodel = metamodel_from_str(sql_grammar)

In [ ]:
!textx generate grammar.tx --target dot

Generating dot target from models:
/content/grammar.tx
-> /content/grammar.dot
    To convert to png run "dot -Tpng -O grammar.dot"

In [ ]:
import pydot

(graph,) = pydot.graph_from_dot_file('grammar.dot')
graph.write_png('grammar.png')

In [ ]:


# Example SQL query
sql_query = '''SELECT name, surname, age   FROM users, students;
SELECT name, passwd   FROM users, students;'''

#sql_query = """SELECT name, surname, age   FROM users, students WHERE name = 'Juan' AND age >10;
#SELECT name, surname, age   FROM users;"""
# Parse the SQL query using the SQL metamodel
model = sql_metamodel.model_from_str(sql_query)

# Traverse the parsed model and perform further processing
for statement in model.statements:
  print(statement.selectList.columns)

['name', 'surname', 'age']
['name', 'passwd']

In [ ]:
!textx generate queries.tx --grammar grammar.tx --target dot

Generating dot target from models:
/content/queries.tx
-> /content/queries.dot
    To convert to png run "dot -Tpng -O queries.dot"

In [ ]:
(graph,) = pydot.graph_from_dot_file('queries.dot')
graph.write_png('queries.png')